extends layout

block content
    div(class="flex flex-wrap m-12 w-[90vw]") 
      img(src= dragon.url, alt="", class="object-center object-cover aspect-square max-w-[40svw] rounded-lg drop-shadow-xl")
      div(class="flex flex-col flex-grow justify-between ml-20 mr-20")
        div
          h1(class="text-6xl mb-8 mt-8") #{dragon.name}
          p(class="max-w-[35svw]")= dragon.description
        div(class="flex flex-row items-center justify-between p-5 bg-yellow-700 bg-opacity-30 rounded-lg")
          p(class="") Adoption price: #{dragon.price} Gold
          form(action="", method="post")
            input(type="hidden", name="id" value=dragon._id)
            input(type="submit" value="Adopt!" class=" bg-yellow-50 p-5 cursor-pointer rounded-lg")
          //- button(class=" bg-orange-100 p-5 rounded-lg") Adopt!
  

